*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}


html{
    background-color:#fff;
    color:000;
    font-family: "lato", "arial",sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering:optimizeLegibility;
    scroll-behavior:smooth;
}


header {
    background-image:linear-gradient(rgba(3, 3, 3, 0.73),rgba(32, 33, 28, 0.62)),url(images/header.jpg );
    background-size: cover;
    background-attachment: fixed;
    height:100vh;
    background-size:cover;
}

/*main navigation top right*/
.main-nav{
    
    float:right;
    list-style: none;
    font-size:128%;
    margin-top:60px;
}
.main-nav li{
    display:inline; 
    padding:9px;
}
.main-nav li a{
    text-decoration: none;
    color:white;
    border-bottom:4px solid transparent;
}
.main-nav li a:hover{
    color:#45dbb8;
    border-bottom:4px solid #f00;
}

h1{
    position: relative;
    font-weight: 800;
    font-size:400%;
    margin:140px 20px;
    color:#fff;
    word-spacing: 9px;
    margin-bottom: 0;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-shadow: -2px -2px 2px #63ce88;
    }

.address{
    position:absolute;
    margin 0;
    left:4%;
    font-size:30px;
    color:fff;
    text-decoration: none;
}

img.logo{
    border:0px solid FFF;
    border-radius:50%;
    width:10%;
    height:auto;
    margin:2%;
}
/*section start*/
.second{
    background-color:rgba(217, 117, 117, 0.3);
    position: relative;
   
}
/*about image*/
.about{
    height:60vh;
    width:auto;
    
   
}
.aboutas{ 
    position:absolute;
    left:12%;
    top:10%;
    height:60%;
    width:auto;
}
/*about text*/
div.about-text{
    position:absolute;
    left:40%;
    top:0%;
    height:60vh;
    width:60%; 
    padding: 85 20 5 55;
    text-align:justify;
    
}
/*third page*/
.third {
    height:81vh;
    width:auto;
    padding:0;
}
h2.center{
    text-align: center;
    padding:20;
    margin:0;
    font-size: 50;
    text-shadow: -2px -2px 2px #63ce88;
 }
a.gallery{
    text-decoration: none;
    color:#555;
}
/*third page gallery pic*/

.gallery {
    width:100%;
    margin:0;
    overflow:hidden;
}
.grid{
    list-style: none;
    width:100%;
}
.grid li{
    width:25%;
    float:left;
}

.gallery img{
    width:100%;
    height:auto;
    opacity:0.7;
    transition: transform 0.5s;
}
.gallery img:hover{
    transform: scale(1.04);
    opacity: 1;
}
/*section third close*/

/*four section start*/

.four{
    height:80vh;
    width:100%;
    position:relative;
    background-image:linear-gradient(rgba(212, 216, 185, 0.99),rgba(13, 255, 199, 0.15))
    
}
.fourleft{
    position:absolute;
    height:80vh;
    width:50%;
    left:0;
    top:0;
    
}

p.heading{
    font-size:55px;
    position:absolute;
    left:17.5%;
    top:9%;
    text-decoration-line: underline;
}


.fourleft ul {
    font-size:25px;
    margin:15% 0% 0% 20%;
    line-height: 1.8;
    color:#000000;
}
.fourleft ul li:hover{
    color:#fff;
    font-size: 26px;
}

.fourright{
    position:absolute;
    left:50%;
    top:0%;
    height:80vh;
    width:50%;
}
.fourright img{
    margin:64px 5px ;
    height:auto;
    width:80%;
    opacity:0.9;
}

/*
four page close 
five page start
*/
.five{
    height: 100vh;
}


/*img room */

div.room{
    border:1px solid #a89d9d;
    margin: 90px;
    float:left; 
}

div.room:hover{
    border:1px solid #000; 
    background-color:#f2f2f2;
}

div.roomtext{
    text-align: center;
    padding:11px;
    margin-top:15px;
}


.room div strong {
    font-weight:700;
    text-decoration:underline ;
    font-size: 30px;
    
}

/*
section five close 
section six start
*/

.sixdiv{
    height:100vh; 
  
    padding:20px;
    position: relative;
    background-color:antiquewhite; 
   
}

}
.sixdiv div{
    position:absolute;
    
}

.sixdiv div a{
  
    padding:60px;
}

/*section six close 
  section seven stat*/

.seven{
    height:60vh;
    width:auto;
    background-image:linear-gradient(rgba(93, 6, 6, 0.51),rgba(21, 12, 12, 0.85));
    
}

.sevendiv h3{
    font-size:45px;
    text-decoration: underline 3px #c3bfd4;
    text-align: center;
}
.sevendiv div{
    padding:40px;
    float:left;
    width:25%;
    color:#fff;
    line-height: 1.5;
    word-spacing: 1px;
}
.sevendiv div p{
    text-align: center;
}
